.cl-icon-button {
  @apply
  transition-colors;

  > svg {
    @apply
    fill-black
    dark:fill-gray-300;
  }

  &:hover {
    > svg {
      @apply
      fill-gray-500
      dark:fill-gray-400
    }
  }

  &:active {
    > svg {
      @apply
      fill-gray-600
      dark:fill-gray-300
    }
  }

  &:disabled {
    > svg {
      opacity: 0.7;
    }
  }
}

.cl-icon-22 {
  > svg {
    width: 22px;
    height: 22px;
  }
}

.cl-icon-24 {
  > svg {
    width: 24px;
    height: 24px;
  }
}

.cl-button {
  @apply
  gap-2
  px-3
  border-2
  border-gray-900
  dark:border-gray-400
  text-black
  dark:text-gray-300
  bg-blue
  dark:bg-gray-900
  rounded-md
  h-9
  transition-colors;

  &:hover {
    @apply
    bg-gray-200
    dark:bg-gray-500
    dark:text-gray-300;
  }

  &:active {
    @apply
    bg-gray-600
    dark:bg-gray-400
    border-gray-600
    dark:border-gray-300;
  }

  &:disabled {
    @apply
    text-gray-500;
  }
}

.cl-button-large {
  @apply
  h-11
  text-lg;
}